.picture img{
    width: 100px;
   
} 
.block{
    display: block;
    width: 100;
    margin-top: 60;
}
.pic img{
    width:100% ;
}
.new-item{
    border: 0;
}
.new-item img{
    height: 350px;
    width: 100%;
    border-radius: 30px;
   
}
.old-item{
    background-color: white;
    border: 0;
}

font-family: 'Roboto', sans-serif;